/* body {
    background-color: grey
}
.game{
    background-color: beige
}
.numbers{
    background-color: aquamarine
} */
body {
    background: grey
}
.btn {
    background-color: rgb(191, 190, 190)
}